
<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>
<% include ../partials/options.ejs %>

<main id = "index">
    <h1>WELCOME TO OUR PIZZERIA</h1>
    <!--REF. PICTURE: https://files.salsacdn.com/article/9031_Vesuvio/image/2_g.20170804194513.jpg-->
    <img id="vesuvioPic" src='vesuvio.jpg' alt = "vesuvio">
</main>

<% include ../partials/footer.ejs %>
</body>
</html>