
<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>
<% include ../partials/options.ejs %>

<main id = "index">
    <h1>OOPS...PAGE NOT FOUND</h1>
</main>

<% include ../partials/footer.ejs %>
</body>
</html>