
<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body>
<% include ../partials/options.ejs %>

<main id = "orderPlaced">
    <p><%=message%></p>
</main>

<% include ../partials/footer.ejs %>
</body>
</html>